.App {
 margin: 0;
 padding: 0;
 overflow: hidden;
 width: 100%;
 height: fit-content;
}


button{
  cursor: pointer;
  background-color: orange;
  border: 1px solid grey;
  outline: none;
  padding: 5px 15px;
  font-size: 15px;
  color: rgb(56, 54, 54);
}
